:root {
  --primary-color: #ff7f00;  /* laranja */
  --secondary-color: #ffa500; /* laranja variante */
  --background-color: #222;   /* fundo escuro */
  --text-color: #fff;         /* texto branco */
  --card-bg: #333;
  --border-color: #555;
}
